$darkBlue: #42567a;
$blue: #3877ee;
$lightBlue: #5d5fef;
$pink: #ef5da8;
$white: #fff;
$gray: #f4f5f9;
$darkBlue10: rgb(66 86 122/10%);
$darkBlue20: rgb(66 86 122/20%);
$darkBlue40: rgb(66 86 122/40%);
$darkBlue50: rgb(66 86 122/50%);
