@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$h1BoldDesktop: 600 200px/160% 'PT Sans', sans-serif;
$h1BoldMobile: 600 56px 'PT Sans', sans-serif;

$h2BoldDesktop: 600 56px/120% 'PT Sans', sans-serif;
$h2BoldMobile: 600 20px/120% 'PT Sans', sans-serif;

$bodyDesktopRegular: 25px/120% 'PT Sans', sans-serif;
$bodyMobileRegular: 16px/120% 'PT Sans', sans-serif;

$textDesktopRegular: 20px/30px 'PT Sans', sans-serif;
$textDesktopBold: 600 20px/30px 'PT Sans', sans-serif;
$textMobileRegular: 14px/145% 'PT Sans', sans-serif;
$textMobileBold: 600 14px/145% 'PT Sans', sans-serif;
